# Delete the expired backup files older than 7 days
find /volumes/gitlab/data/backups -mtime +7 -exec rm {} \;

# Stop the gitlab-ci docker container
sudo docker stop gitlab-ci

# Run cold gitlab-ci docker container to backup data and repositories
sudo docker run --name gitlab-backup \
                -v /volumes/gitlab/logs:/var/log/gitlab \
                -v /volumes/gitlab/data:/home/git/data \
                -e 'REDIS_HOST={{ ci_redis_host }}' \
                -e 'REDIS_PORT={{ ci_redis_port }}' \
                -e 'DB_ADAPTER={{ ci_db_adapter }}' \
                -e 'DB_HOST={{ ci_db_host }}' \
                -e 'DB_PORT={{ ci_db_port }}' \
                -e 'DB_NAME={{ ci_db_name }}' \
                -e 'DB_USER={{ ci_db_user }}' \
                -e 'DB_PASS={{ ci_db_password }}' \
                -e 'GITLAB_SECRETS_DB_KEY_BASE={{ ci_gitlab_secrets_db_key_base }}' \
                -e 'GITLAB_SECRETS_SECRET_KEY_BASE={{ ci_gitlab_secrets_secret_key_base }}' \
                -e 'GITLAB_SECRETS_OTP_KEY_BASE={{ ci_gitlab_secrets_otp_key_base }}' \
                sameersbn/gitlab:10.3.5 app:rake gitlab:backup:create

# Remove the gitlab-backup docker container
sudo docker rm gitlab-backup

# Restart the gitlab-ci docker container
sudo docker start gitlab-ci

# Get the last backup file
LAST_BACKUP_FILE=$(sudo ls -1t /volumes/gitlab/data/backups/* | head -1)

# Add write permission to the last modified backup file
sudo chmod 755 $LAST_BACKUP_FILE

# Transfer backup file to the archive machines
/bin/sh /backup/scripts/transfer-backups.sh $LAST_BACKUP_FILE