bind_addr = "0.0.0.0"

datacenter = "{{datacenter}}"

# Increase log verbosity
log_level = "DEBUG"

# Setup data dir
data_dir = "/var/lib/nomad"

server {
  enabled = true
  bootstrap_expect = {{bootstrap_count}},
}

consul {
  address = "{{ ansible_default_ipv4.address }}:8500"
}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics = false
  collection_interval = "10s"
  statsd_address = "127.0.0.1:{{telegraf_statsd_port}}"
}
