[Unit]
Description=Docker Registry (in a container)
After=docker.service
Requires=docker.service

[Service]
Type=simple
#ExecStartPre=-/usr/bin/docker rm -f %n
#ExecStartPre=/usr/bin/docker pull registry:2
ExecStart=/usr/bin/docker run \
	-e REGISTRY_STORAGE_DELETE_ENABLED=true \
	-p 5000:5000 \
	--name docker-registry \
	-v /var/lib/docker/volumes:/var/lib/registry \
	registry:2.6.2

TimeoutStartSec=10

[Install]
WantedBy=multi-user.target